<div class="div-footer-header flex">
    <div class="content-header col-sm-12">
        <img src="/img/logo-web.png" alt="">
        <h4>
            Nền tảng trao đổi và mượn sách.
        </h4>
        <p>Dù bạn cần sách hay muốn cho mượn sách chúng tôi đều cung cấp một nền tảng hỗ trợ thật hiệu quả.</p>
        <p>Hãy thoải mái cùng Book Lovers nơi trao đổi thông tin, những cuốn sách của mình sẽ là nguồn vô giá giúp cho
            người khách thêm nhiều kiến thức, niềm vui.</p>
        <p>Nếu bạn là người cần sách, cứ tự tin với những lựa chọn mới, tối ưu và độc đáo hơn từ Book Lovers. Hãy để
            Book Lovers đồng hành cùng các bạn trên hành trình xây dựng cộng đồng yêu sách vững mạnh nhé!
        </p>
    </div>
    <div class="footer-img-book col-sm-12">
        <img src="/img/footer-book.jpg" width="auto" alt="">
    </div>
</div>
<img class="img-f" style="max-width: 100%;" src="/img/footer.png" alt="">
<div class="div-footer-content flex">
    <div class="div-support col-lg-3 col-sm-6 col-12">
        <h3>Hỗ trợ</h3>
        <div class="dia-chi">
            <div class="dia-chi-icon">
                <i class="oi oi-home"></i>
            </div>
            <span>
                Xuân Minh, Thọ Xuân, Thanh Hóa
            </span>
        </div>
        <div class="sdt">
            <div class="sdt-icon">
                <i class="oi oi-phone"></i>
            </div>
            <span>
                0367959788
            </span>
        </div>
        <div class="email">
            <div class="email-icon">
                <i class="oi oi-envelope-closed"></i>
            </div>
            <span>
                mvt16102001@gmail.com
            </span>
        </div>
    </div>

    <div class="div-policy col-lg-3 col-sm-6 col-12">
        <div class="footer-list">
            <h3>Chính sách</h3>
        </div>
        <ul class="tag-ul-footer">
            <li class="tag-li-footer">
                <a href="/chinh-sach/doi-tra" class="tag-a">
                    <p class="chinh-sach-item">
                        Chính sách đổi trả
                    </p>
                </a>
            </li>
            <li class="tag-li-footer">
                <a href="/chinh-sach/bao-mat" class="tag-a">
                    <p class="chinh-sach-item">
                        Chính sách bảo mật
                    </p>
                </a>
            </li>
            <li class="tag-li-footer">
                <a href="/chinh-sach/van-chuyen" class="tag-a">
                    <p class="chinh-sach-item">
                        Chính sách vận chuyển
                    </p>
                </a>
            </li>
            <li class="tag-li-footer">
                <a href="/chinh-sach/phuong-thuc-thanh-toan" class="tag-a">
                    <p class="chinh-sach-item">
                        Phương thức thanh toán
                    </p>
                </a>
            </li>
        </ul>
    </div>


    <div class="div-about col-lg-3 col-sm-6 col-12">
        <div class="footer-list">
            <h3>Về Book lovers</h3>
        </div>
        <ul class="tag-ul-footer">
            <li class="tag-li-footer">
                <a href="/gioi-thieu" class="tag-a">
                    <p class="chinh-sach-item">
                        Giới thiệu
                    </p>
                </a>
            </li>
            <li class="tag-li-footer">
                <a href="/huong-dan-mua-hang" class="tag-a">
                    <p class="chinh-sach-item">
                        Hướng dẫn mua hàng
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <div class="follow col-lg-3 col-sm-6 col-12">
        <div>
            <h3>Theo dõi chúng tôi</h3>
            <img height="45px" src="/img/facebook.png" alt="">
        </div>
    </div>
</div>